body, main, img, section,
nav, h1, h2, h3, h4, h5,
h6, p, ul, li, footer, small, a {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

a {
  color: #293047;
}

a:hover {
  color: orchid;
}

body {
  margin: 0px;
  color: #293047;
  background-color: whitesmoke;
}

/* layout */

.group:after {
  content: "";
  clear: both;
  display: block;
}

.group div {
  float: right;
}

.resume {
  background-color: white;
  width: 8.5in;
  height: 11in;
  display: flex;
}

section {
  margin-bottom: 20px;
}

.name {
  position: absolute;
  background-color: #1a1f2d;
  color: #eeeeee;
  width: calc(8.5in - 80px);
  top: 20px;
  padding: 10px 40px;
}

.left, .right {
  padding: 20px;
  padding-top: 90px;
}

.left {
  flex-shrink: 0;
  flex-grow: 0;
  width: 19%;
  margin-left: 20px;
  background-color: #f2f5f6;
}

.right { margin-right: 10px; }

/* text styles */

h1 {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
}

h2 {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 12px;
}

h3 {
  font-weight: bold;
  font-size: 12px;
}

h4 {
  font-size: 12px;
  margin-bottom: 6px;
}

ul {
  margin-bottom: 10px;
}

li {
  margin-bottom: 4px;
  font-size: 10px;
  margin-left: 24px;
}

.contact p {
  font-size: 12px;
}

.experience p {
  font-size: 10px;
  margin-bottom: 4px;
}

.technologies p,
.education p {
  font-size: 10px;
}

.details {
  margin-top: 2px;
  margin-bottom: 12px;
}

@media print {
  .name {
    color: #293047;
    background-color: white;
    border-bottom: 1px solid #293047;
    border-top: 1px solid #293047;
  }

  .left {
    border-right: 1px solid #293047;
  }
}
